/Clases/Clase1/nbproject/private/
/Clases/Clase1/build/
/Clases/Clase2/nbproject/private/
/Clases/Clase2/build/
/Clases/Clase3/nbproject/private/
/Clases/Clase3/build/
/Clases/Prsctica1/nbproject/private/
/Clases/Prsctica1/build/
/Clases/Prsctica1/dist/