/Clases/Clase1/nbproject/private/
/Clases/Clase1/build/
/Clases/Clase2/nbproject/private/
/Clases/Clase2/build/
/Clases/Clase3/nbproject/private/
/Clases/Clase3/build/
/Clases/Prsctica1/nbproject/private/
/Clases/Prsctica1/build/
/Clases/Prsctica1/dist/
/Clases/Clase 5/nbproject/private/
/Clases/Clase 5/build/
/Clases/Practica 2/nbproject/private/
/Clases/Practica 2/build/
/Clases/Clase6/nbproject/private/
/Clases/Clase6/build/
/Clases/Clase7/nbproject/private/
/Clases/Clase7/build/
/Clases/PracticaArreglos/nbproject/private/
/Clases/PracticaArreglos/build/
/Clases/Clase11/nbproject/private/
/Clases/Clase11/build/
/Clases/Practica1/nbproject/private/
/Clases/Practica1/build/
/Clases/PracticaMatriz/nbproject/private/
/Clases/PracticaMatriz/build/
/Clases/Quiz1/nbproject/private/
/Clases/Quiz1/build/
/Clases/Clase12/nbproject/private/
/Clases/Clase12/build/
/Clases/quiz2/nbproject/private/
/Clases/Quiz 2/nbproject/private/
/Clases/Quiz 2/build/
/Clases/PracticaListas 1/nbproject/private/
/Clases/PracticaListas 1/build/
/Clases/Proyecto2/nbproject/private/
/Clases/PracticaInterfaz/nbproject/private/
/Clases/PracticaInterfaz/build/
/Clases/Proyecto2/build/
/Clases/tareaListas/nbproject/private/
/Clases/tareaListas/build/
/Quiz/Quiz 2/tareaListas/build/
/Quiz/Quiz 2/tareaListas/nbproject/private/
/Clases/Clase13/nbproject/private/
/Clases/TareaEstructurasDedatos/nbproject/private/
/Clases/PracticaListas1/build/
/Clases/PracticaListas1/nbproject/private/
/Clases/TDA/nbproject/private/
/Clases/TDA/build/
/Clases/PracticaExamen/nbproject/private/
/Clases/Clase13/build/
/Clases/NuevoProyecto2/nbproject/private/
/Clases/NuevoProyecto2/build/
/Clases/Clase14/nbproject/private/
/Clases/TareaEstructurasDedatos/build/
/Clases/Clase15/nbproject/private/
/Clases/Clase15/build/